[Unit]
Description=BooBoot DUT control
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/booboot-server --config-dir /etc/booboot
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
